.rootDiv {
  text-align: center;
}

.threeScene {
  width: 100vh;
  height: 50vh;
}

.threeScene canvas {
  margin-top: 1rem;
}

header {
  background: rgb(79,27,88);
  background: linear-gradient(40deg, rgb(54, 11, 61) 0%, rgb(10, 23, 65) 100%);

  min-height: 65vh;

  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
}

header h1 {
  text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.bigMatch {
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigMatch > div {
  display: inline-block;
  width: 20vw;
  max-width: 12.5rem;
}

.bigMatch > div > div {
  position: relative;
}

.bigMatch > div > div p {
  position: absolute;
  top: 0;
  margin: 0;
  text-align: center;
}

.bigMatch > div:nth-child(2) {
  margin: 0 1rem 0 1rem;
  width: auto;
  font-weight: 100;
  text-align: center;
}

.bigMatch img {
  width: 100%;
}

.matchDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}

.matchDetails-names {
  width: 65vw;
}

.matchDetails-names div {
  text-align: right;
  display: inline-block;
  width: 50%;
}
.matchDetails-names div p {
  margin: 0 1rem 0 0;
  font-weight: 500;
}

.matchDetails-names div:last-child {
  text-align: left;
}
.matchDetails-names div:last-child p {
  margin: 0 0 0 1rem;
}

.matchDetails-timeStamp {
  flex-basis: 100%;
}

.matchDetails-timeStamp > div {
  padding: 0.5rem 0 0.5rem 0;
  margin: 0 auto;
  width: 14rem;
  background-color: rgba(0,0,0,0.25);
}

.matchDetails-timeStamp > div h5 {
  margin: 0;
}

.matchDetails-timeStamp > div h4 {
  margin: 0.15rem 0 0 0;
}

footer {
  height: 5vh;
}
